@page
@model MiFicExamples.Pages.Graph.IndexModel
@{
    ViewData["Title"] = "Graph API example";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    @if(!Model.UseManagedIdentity)
    {
        <p style="color: red">Using SECRETS to get data</p>
    }
    else
    {
        <p style="color: green">Using MANAGED IDENTITY to get data</p>
    }

    <table class="table table-striped table-condensed" style="font-family: monospace">
        <tr>
            <th>Users</th>
        </tr>
        @{
            foreach(var user in Model.Users)
            {
                <tr>
                    <td>@user.DisplayName</td>
                </tr>
            }
        }
    </table>
</div>