@page
@model MiFicExamples.Pages.Vault.IndexModel
@{
    ViewData["Title"] = "Fetch a secret from Key Vault in a different tenant";
}


<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>    
        <h3>Getting a secret from a KeyVault in a different tenant</h3>
        <br /><br /><br />
        <span><strong>@Model.SecretName:</strong> @Model.SecretValue</span>
        <br />
    </p>
</div>